@media all {
	html {
		margin: 0;
		padding: 0;
		font: 80%/1.4 tahoma, arial, helvetica, lucida sans, sans-serif;
		color: rgb(37, 37, 37);
		height: 100%;
	}

	body {
		margin: 0.7em 0.7em;
		padding: 1em 1em;
		background: #FFFFFF;
	}

    h1, h2, h3, h4, h5, h6 {
        color: rgb(9, 124, 160);
    }

}

@media screen {
	html {
		background: #888;
	}
	
	body {
		border: 1px solid #333;
		min-height:90%;
		box-shadow: 0 0 .5em #333;
	}

}